<div class="slide-to-co" id="slide">
    <div class="slide-fieldset">
        {{ include("security/form_connection.html.twig") }} 
    </div>
</div>
<div class="accroche">
    <p class="josselin title-white-border">Josselin Balde</p>
    <h1>Devenez un expert des outils bureautiques</h1>
    <p class="metier">Formateur indépendant et passionné</p>
    <a class="bt-link bt-accueil" href="#formations">Voir les formations</a>

</div>
<div class="img-relative">

    <img class="baton" src="{{ asset('build/images/Baton.png') }}" alt="Josselin Baldé, Formateur Indépendant Word, Excel, PowerPoint"/>
    <img class="diagramme" src="{{ asset('build/images/Diagramme.png') }}" alt="Josselin Baldé, Formateur Indépendant Word, Excel, PowerPoint"/>
    <img class="document" src="{{ asset('build/images/Document.png') }}" alt="Josselin Baldé, Formateur Indépendant Word, Excel, PowerPoint"/>
    <img class="livres" src="{{ asset('build/images/Livres.png') }}" alt="Josselin Baldé, Formateur Indépendant Word, Excel, PowerPoint"/>
    <img class="illustration_accueil" src="{{ asset('build/images/illustration_accueil.png') }}" alt="Josselin Baldé, Formateur Indépendant Word, Excel, PowerPoint"/>
    <img class="cafe" src="{{ asset('build/images/cafe_souris.png') }}" alt="Josselin Baldé, Formateur Indépendant Word, Excel, PowerPoint"/>
    <img class="plante" src="{{ asset('build/images/plante.png') }}" alt="Josselin Baldé, Formateur Indépendant Word, Excel, PowerPoint"/>
    
</div>
    