{% extends 'base.html.twig' %}

{% block title %}Josselin Balde - Formation Bureautique{% endblock %}
{% block stylesheets %}
    {{ parent()}}

{% endblock %}
{% block content %}
    
    <div id="index" class="index">
       
        <section id="accueil" class="index__section index__section--accueil" data-spy>
            {{ include("site/home.html.twig") }}   
        </section>
        <section id="video" class="index__section index__section--video reveal" data-spy>
            <div class="video reveal-2">
                <video controls>
                    <source src="{{ asset('videos/presentation.mp4') }}"
                            type="video/mp4">
                </video>
            </div>
        </section>

        <section id="formations" class="index__section index__section--formations reveal" data-spy>
            <p class="ptitle title-white-border">A vous de choisir</p>
            <div class="blue-band reveal-3">
            </div>
            <div class="floater reveal-2">
                <div class="white-block">
                    <h2>Tutoriels en ligne</h2>
                    <img src="{{ asset("build/images/picto_ordinateur.png") }}" alt="Tutoriels en ligne"/>
                    <a class="bt-link" href="https://fr.tuto.com/formateur/membre-2183-1509.htm">Découvrir</a>
                </div>
                <div class="white-block">
                    <h2>Formations en présentiel</h2>
                    <img src="{{ asset("build/images/picto_groupe.png") }}" alt="Formations en prétentiel"/>
                    <a class="bt-link" href="https://ganapati.fr/formateur/188-Josselin.Balde">Découvrir</a>
                </div>
            </div>
        </section>
        <section id="apropos" class="index__section index__section--apropos reveal" data-spy>
            <div class="gradient-blue reveal-3">
            </div>
            <p class="ptitle">Les</p>
            <div class="white-block reveal-2">
                <ol>
                    <li>Je prends en compte vos besoins précis par téléphone</li>
                    <li>Nous fixons ensemble un programme sur mesure</li>
                    <li>Nous pouvons appliquer la formation sur vos fichiers professionnels</li>
                    <li>Je crée de nouveaux tutoriels vidéo si nécessaire pour des besoins précis</li>
                    <li>En tant que client, vous aurez accès à l'ensemble des tutoriels vidéo concernant votre formation</li>
                </ol>
            </div> 
            <img class="reveal-2" src="{{ asset("build/images/Josselin_clair.jpg") }}" alt="Josselin Balde"/>
            <div class="container-bt-link reveal-2">
                <a class='bt-link' href="{{ path("apropos") }}">Découvrir mon parcours</a>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scrollspy') }}
    {{ encore_entry_script_tags('animations') }}
    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}