{% extends 'base.html.twig' %}

{% block title %}Josselin Balde - Formation Bureautique{% endblock %}
{% block stylesheets %}
    {{ parent()}}

{% endblock %}
{% block content %}
    <div id="index">
        <section id="accueil" class="index-section" data-spy>

            <div class="slide-to-co index" id="slide">
                 <div class="slide-fieldset">
                    {{ include("security/form_connection.html.twig") }} 
                </div>
            </div>
            <div class="accroche">
                <p class="josselin title-white-border">Josselin Balde</p>
                <h1>Devenez un expert des outils bureautiques</h1>
                <p class="metier">Formateur indépendant et passionné</p>
                <a class="bt-link bt-accueil" href="#formations">Voir les formations</a>
              
            </div>
            <div class="img-relative">
                <div id="baton"><img src="{{ asset('build/images/Baton.png') }}"/></div>
                <div id="diagramme"><img src="{{ asset('build/images/Diagramme.png') }}"/></div>
                <div id="document"><img src="{{ asset('build/images/Document.png') }}"/></div>
                <img id="livres" src="{{ asset('build/images/Livres.png') }}"/>
                <img id="illustration_accueil" src="{{ asset('build/images/illustration_accueil.png') }}"/>
                <img id="cafe" src="{{ asset('build/images/cafe_souris.png') }}"/>
                <img id="plante" src="{{ asset('build/images/plante.png') }}"/>
                
            </div>


        </section>
        <section id="video" class="index-section reveal" data-spy>
            <div class="video reveal-2">
                <video controls>
                    <source src="{{ asset('videos/presentation.mp4') }}"
                            type="video/mp4">
                </video>
            </div>
        </section>

        <section id="formations" class="index-section reveal" data-spy>
            <h2 class="section-title title-white-border">A vous de choisir</h2>
            <div class="blue-band reveal-3">
            </div>
            <div class="floater reveal-2">
                <div class="white-block">
                    <h3>Tutoriels en ligne</h3>
                    <img src="{{ asset("build/images/picto_ordinateur.png") }}" alt="Tutoriels en ligne"/>
                    <a class="bt-link" href="https://fr.tuto.com/formateur/membre-2183-1509.htm">Découvrir</a>
                </div>
                <div class="white-block">
                    <h3>Formation en présentiel</h3>
                    <img src="{{ asset("build/images/picto_groupe.png") }}" alt="Formation en prétentiel"/>
                    <a class="bt-link" href="https://ganapati.fr/formateur/188-Josselin.Balde">Découvrir</a>
                </div>
            </div>
        </section>
        <section id="apropos" class="index-section reveal" data-spy>
            <div class="gradient-blue reveal-3">
            </div>
            <h2 class="section-title" id="more-h2">Les</h2>
            <div class="white-block reveal-2">
                <ol>
                    <li>Je prends en compte vos besoins précis par téléphone</li>
                    <li>Nous fixons ensemble un programme sur mesure</li>
                    <li>Nous pouvons appliquer la formation sur vos fichiers professionnels</li>
                    <li>Je crée de nouveaux tutoriels vidéo si nécessaire pour des besoins précis</li>
                    <li>En tant que client, vous aurez accès à l'ensemble des tutoriels vidéo concernant votre formation</li>
                </ol>
            </div> 
            <img class="reveal-2" src="{{ asset("build/images/Josselin_clair.jpg") }}" alt="Josselin Balde"/>
            <div class="container-bt-link reveal-2">
                <a class='bt-link' href="{{ path("apropos") }}">Découvrir mon parcours</a>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scrollspy') }}
    {{ encore_entry_script_tags('animations') }}
    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}