{% extends 'base.html.twig' %}

{% block title %}Josselin Balde - Formation Bureautique{% endblock %}

{% block body %}
    <div id="index">
        <section id="accueil" class="index-section">
            <div id="img-box">
               
                <div id="baton"><img src="{{ asset('build/images/Baton.png') }}"/></div>
                <div id="diagramme"><img src="{{ asset('build/images/Diagramme.png') }}"/></div>
                <div id="document"><img src="{{ asset('build/images/Document.png') }}"/></div>
                <img id="livres" src="{{ asset('build/images/Livres.png') }}"/>
                <img id="illustration_accueil" src="{{ asset('build/images/illustration_accueil.png') }}"/>
                <img id="cafe" src="{{ asset('build/images/cafe_souris.png') }}"/>
                <img id="plante" src="{{ asset('build/images/plante.png') }}"/>
            </div>
            <div class="slide-to-co index">
                <div class="accroche">
                    <p class="josselin">Josselin Balde</p>
                    <hr class="separateur1"></hr>
                    <h1>Devenez un expert des outils bureautiques</h1>
                    <p class="metier">Formateur indépendant et passionné</p>
                    <a class="bt-link bt-accueil" href="#formations">Voir les formations</a>
                </div>
            </div>
        </section>
            <section id="video" class="index-section">
                
            </section>
            
            <section id="formations" class="index-section">
                
            </section>
            <section id="apropos" class="index-section">
                
            </section>
    </div>
{% endblock %}
