{% extends 'base.html.twig' %}

{% block title %}Josselin Balde - Formation Bureautique{% endblock %}

{% block body %}
    <div id="index">
        <section id="accueil" class="index-section">
            <div id="img-box">

                <div id="baton"><img src="{{ asset('build/images/Baton.png') }}"/></div>
                <div id="diagramme"><img src="{{ asset('build/images/Diagramme.png') }}"/></div>
                <div id="document"><img src="{{ asset('build/images/Document.png') }}"/></div>
                <img id="livres" src="{{ asset('build/images/Livres.png') }}"/>
                <img id="illustration_accueil" src="{{ asset('build/images/illustration_accueil.png') }}"/>
                <img id="cafe" src="{{ asset('build/images/cafe_souris.png') }}"/>
                <img id="plante" src="{{ asset('build/images/plante.png') }}"/>
            </div>
            <div class="slide-to-co index" id="slide">
                <div class="accroche">
                    <p class="josselin">Josselin Balde</p>
                    <hr class="separateur"></hr>
                    <h1>Devenez un expert des outils bureautiques</h1>
                    <p class="metier">Formateur indépendant et passionné</p>
                    <a class="bt-link bt-accueil" href="#formations">Voir les formations</a>
                </div>
            </div>
        </section>
        <section id="video" class="index-section">
            <video controls>
                <source src="{{ asset('videos/presentation.mp4') }}"
                        type="video/mp4">
            </video>
        </section>

        <section id="formations" class="index-section">
            <div class="blue-band">
                <h2>A vous de choisir</h2>
                <div class="separator-white"></div>
                <div class="floater">
                <div class="white-block">
                    <h3>Tutoriels en ligne</h3>
                    <img src="{{ asset("build/images/picto_ordinateur.png") }}" alt="Tutoriels en ligne"/>
                    <a class="bt-link" href="https://fr.tuto.com/formateur/membre-2183-1509.htm">Découvrir</a>
                </div>
                <div class="white-block">
                    <h3>Formation en présentiel</h3>
                    <img src="{{ asset("build/images/picto_groupe.png") }}" alt="Formation en prétentiel"/>
                    <a class="bt-link" href="https://ganapati.fr/formateur/188-Josselin.Balde">Découvrir</a>
                </div>
                    </div
            </div>
        </section>
        <section id="apropos" class="index-section">
            <div class="gradient-blue">
                <h2>Les +</h2>
                <div class="white-block">
                    <ol>
                        <li>Je prends en compte vos besoins précis par téléphone</li>
                        <li>Nous fixons ensemble un programme sur mesure</li>
                        <li>Nous pouvons appliquer la formation sur vos fichiers professionnels</li>
                        <li>Je crée de nouveaux tutoriels vidéo si nécessaire pour des besoins précis</li>
                        <li>En tant que client, vous aurez accès à l'ensemble des tutoriels vidéo concernant votre formation</li>
                    </ol>
                </div>
                <div class='apropos'>
                    <img src=''/>
                    <a class='bt-link' href="{{ path("apropos") }}">Découvrir</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
