<table class="table">
    <tbody>
        <tr><th scope="row">Nom : </th><td> {{ user.lastname }}
            </td></tr>
        <tr><th scope="row">Prénom : </th><td> {{ user.firstname }}
            </td></tr>

        <tr><th scope="row">Email : </th><td> {{ user.email }}</td></tr>
        <tr><th scope="row">Roles : </th><td> {{ user.roles ? user.roles|json_encode : '' }}</td></tr>

        <tr><th scope="row">Accès : </th><td> {{ "ROLE_TRAINEE" in user.roles ? user.access.format('%y année(s), %m mois') : 'Accès illimité' }}
            </td></tr>
        <tr><th scope="row">Date de première connection : </th><td> {{ user.dateFirstConnect ? user.dateFirstConnect|date('d/m/Y H:i:s') : 
            "ROLE_TRAINEE" in user.roles ?'Ne s\'est pas encore connecté.': 'Accès illimité' }}
            </td></tr>
        <tr><th scope="row">
                Formations : </th><td>
                {% if "ROLE_TRAINEE" in user.roles %}  
                    <ul>

                        {% for formation in user.formations %}
                            <li>{{ formation.title }}</li>
                            {% endfor %}
                    </ul>
                {% else %}
                    Accès illimité
                {% endif %}
            </td></tr>

    </tbody>
</table>
