<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{ form_start(form) }}
<div class="modal-body">
    {% for f in form %}
        {{ form_row(f) }}
    {% endfor %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
    <button id="save" type="button" data-action="form" data-url="{{ target }}" data-toggle='modal' data-target="#formBox" class="btn btn-primary">Enregistrer</button>

</div>
{{ form_end(form) }}