<div class="formations-block">
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            {{ msg }}

        </div>
    {% endfor %}
    {% for msg in app.flashes('error') %}
        <div class="alert alert-danger fade in" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            {{ msg }}

        </div>
    {% endfor %}    
    <div class="title-page">
        <h1>Formations vidéos disponibles</h1> 
        <hr class="separator-blue"></hr>
        <input type="button" class="bt-link" data-action="add" data-url="/admin/formations/add" data-toggle='modal' data-target="#formBox" value="+ Nouvelle Formation"/>
    </div>
    <!-- boucle pour afficher les formations -->
    {% for formation in formations %}
        <div class="fieldset-formation">
            <div class="formation-header-title">
                <i class="fas fa-chevron-right"></i>
                <h2 data-field="formation" data-id="{{ formation.formation.id }}">{{ formation.formation.title }} 
                    <i class="fas fa-pen" data-action="modify"data-url="/admin/formations/edit/{{ formation.formation.id }}" data-toggle='modal' data-target="#formBox"></i>
                    {{ include('site/admin/formations/_delete_form.html.twig', {'id':formation.formation.id}) }}
                    <i class="fas fa-plus" data-action="add" data-url="/admin/chapters/add" data-toggle='modal' data-target="#formBox"></i>
                </h2>


            </div>
            <!-- boucle pour afficher les chapitres -->
            <ul class="chapters">
                {% for chapter in formation.chapters %}
                    <li>
                        <h3 data-field="chapter" data-id="{{ chapter.chapter.id }}" data-id-parent="{{ formation.formation.id }}">{{ chapter.chapter.title }} 
                            <i class="fas fa-pen" data-action="modify"data-url="/admin/chapters/edit/{{ chapter.chapter.id }}" data-toggle='modal' data-target="#formBox"></i>
                            {{ include('site/admin/chapters/_delete_form.html.twig', {'id':chapter.chapter.id}) }}
                            <i class="fas fa-plus" data-action="add" data-url="/admin/tutorials/add" data-toggle='modal' data-target="#formBox"></i>

                        </h3>

                        <ul class="tutorials">
                            {% for tuto in chapter.tutorials %}
                                <!-- boucle pour afficher les tuto -->
                                <li data-field="tutorial" data-id="{{ tuto.id }}" data-id-parent="{{ chapter.chapter.id }}"><a href="{{ tuto.url }}" class="btn-tutorials">
                                        <i class="far fa-play-circle"></i> {{ tuto.title }}
                                    </a> <i class="fas fa-pen" data-action="modify"data-url="/admin/tutorials/edit/{{ tuto.id }}" data-toggle='modal' data-target="#formBox"></i>
                                    {{ include('site/admin/tutorials/_delete_form.html.twig', {'id':tuto.id}) }}</li>
                                {% endfor %}


                        </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
    {% endfor %}

</div>
