<table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Roles</th>
                <th>Accès</th>
                <th>Première connection</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.access ? user.access.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>{{ user.dateFirstConnect ? user.dateFirstConnect|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                   
                    <div class="btn-ctl" data-field="users" data-id="{{ user.id }}"> 
                        <i class="fas fa-info-circle" data-action="modify" data-url="/admin/users/{{ user.id }}" data-toggle='modal' data-target="#formBox"></i>
                        <i class="fas fa-pen" data-action="modify" data-url="/admin/users/edit/{{ user.id }}" data-toggle='modal' data-target="#formBox"></i>
                    {{ include('site/admin/users/_delete_form.html.twig', {'id':user.id}) }}
                     </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



