 <h1>Membre</h1>

    <ul>
        <li>Email : {{ user.email }}</li>
            <li>Roles : {{ user.roles ? user.roles|json_encode : '' }}</li>
            
            <li>Prénom : {{ user.firstname }}
            </li>
            <li>Nom : {{ user.lastname }}
            </li>
            <li>Accès : {{ user.access ? user.access.format('%y year(s), %m month(s), %d day(s)') : '' }}
            </li>
            <li>Date de première connection {{ user.dateFirstConnect ? user.dateFirstConnect|date('Y-m-d H:i:s') : '' }}
            </li>
    </ul>

    <a href="{{ path('user_index') }}">Retour</a>

    <a href="{{ path('admin.users.edit', {'id': user.id}) }}">Modifier</a>

    {{ include('site/admin/users/_delete_form.html.twig') }}

