{% apply inline_css(source('@css/email.css')) %}
<div class="fieldset">
    <h1>Formation bureautique Josselin Baldé</h1>
    <p>Votre compte sur le site josselinbalde.fr a été créé avec succès. Vous pouvez dès maintenant vous connecter et visionnez librement les tutoriels des formations suivantes :</p>
  
    <ul class="formations">
        {% for formation in user.formations %}
            <li><a href="{{ url("formations") }}">{{ formation.title }}</a></li>
            {% endfor %}
    </ul>
    <p>Vos identifiants de connexion :</p>
    <ul>
        <li><b>Login : </b><br∕>{{ user.email }}</li>

        <li><b>Mot de Passe : </b><br∕>{{ user.plainPassword }}</li>
    </ul>
    <p>Vous pouvez modifier vos informations et votre mot de passe sur ce lien : <a href="{{ url("profile") }}">{{ url("profile") }}</a></p>

    <p>A bientôt !</p>
     <p><b>Josselin Baldé</b><br>josselin.balde@gmail.com<br>https://josselinbalde.fr</p>
  
</div>
{% endapply %}